@use 'variables' as v;

.card{
    width: 200px;
    height: 250px;
    border-radius: 16px;
    background-color: v.$color2;
    filter: drop-shadow(10px 10px 10px black);
    filter: grayscale(60%);
    padding: 48px 12px 12px 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &Name{
        background-color: v.$color1;
        text-align: center;
        color: v.$color6;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
    };

    &Circle{
        background-color: v.$color4;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        position: absolute;
        top: 50px;
        left: 5px;
    };
    
    &Img{
        position: absolute;
        z-index: 1;
        width: 100%;
    }

}